<ng-container *ngIf="workMaterials">
    <div class="text-center">
        <div class="container">
            <button type="button" class="btn btn-primary col-sm-2" (click)="toggleNewMaterialMenu()">Нов
                материал</button>
        </div>
        <div *ngIf="showNewWorkMaterialMenu && newWorkMaterial" class="container form-group row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Материал</th>
                        <th scope="col">Ценообразуване</th>
                        <th scope="col">Мерна единица</th>
                        <th scope="col">Акт. цена замяна</th>
                        <th scope="col">Акт. цена продан</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input [(ngModel)]="newWorkMaterial.name" name="newMaterialName" type="text" class="form-control"></td>
                        <td>
                            <select class="form-control form-select" [(ngModel)]="newWorkMaterial.pricingType">
                                <option [ngValue]="0">Фиксирано</option>
                                <option [ngValue]="1">На {{ newWorkMaterial.measuringUnit.length ? 'количество' : newWorkMaterial.measuringUnit }} количество</option>
                            </select>
                        </td>
                        <td><input [(ngModel)]="newWorkMaterial.measuringUnit" name="newMaterialMeasuringUnit" type="text" class="form-control"></td>
                        <ng-container *ngIf="newWorkMaterial.relevantPrice">
                            <td>
                                <input [(ngModel)]="newWorkMaterial.relevantPrice.purchasingPrice" type="number" class="form-control">
                            </td>
                            <td>
                                <input [(ngModel)]="newWorkMaterial.relevantPrice.sellingPrice" type="number" class="form-control">
                            </td>
                        </ng-container>
                        <td *ngIf="!newWorkMaterial.relevantPrice" colspan="2"></td>
                        <td>
                                <button [style.width]="'auto'" class="btn btn-primary" (click)="toggleNewMaterialPrice()">
                                    {{ newWorkMaterial.relevantPrice ? 'Отмени цена' : 'Създай с цена' }}</button>
                                <button [style.width]="'auto'" type="button" class="btn btn-success" (click)="submitNewEntry()">Запази</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Материал</th>
                    <th scope="col">Ценообразуване</th>
                    <th scope="col">Мерна единица</th>
                    <th scope="col">Акт. цена замяна</th>
                    <th scope="col">Акт. цена продан</th>
                    <th scope="col">Към дата</th>
                    <th scope="col">Редакция</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let workMaterial of workMaterials">
                    <ng-container
                        *ngIf="workMaterial.id === currentlyEditedMaterialId && currentlyEditedMaterial; else displayMaterial">
                        <tr>
                            <td>{{workMaterial.id}}</td>
                            <td><input [(ngModel)]="currentlyEditedMaterial.name" type="text"
                                class="form-control"></td>
                            <td>
                                <select class="form-control form-select"
                                    [(ngModel)]="currentlyEditedMaterial.pricingType">
                                    <option [ngValue]="0">Фиксирано</option>
                                    <option [ngValue]="1">На {{ currentlyEditedMaterial.measuringUnit.length ? currentlyEditedMaterial.measuringUnit : 'количество' }}</option>
                                </select>
                            </td>
                            <td><input [(ngModel)]="currentlyEditedMaterial.measuringUnit" type="text"
                                class="form-control">
                            </td>
                            
                            <ng-container *ngIf="currentlyEditedMaterial.relevantPrice">
                            <td>
                                <input [(ngModel)]="currentlyEditedMaterial.relevantPrice.purchasingPrice"
                                    type="number" class="form-control">
                            </td>
                            <td>
                                <input [(ngModel)]="currentlyEditedMaterial.relevantPrice.sellingPrice"
                                    type="number" class="form-control">
                            </td>
                            <td></td>
                            </ng-container>
                            <td *ngIf="!currentlyEditedMaterial.relevantPrice" colspan="3"></td>
                            <td>
                                    <button [style.width]="'auto'" class="btn btn-primary"
                                        (click)="toggleEditMaterialPrice(workMaterial)">{{currentlyEditedMaterial.relevantPrice
                                        ? 'Отмени нова цена' : 'Редактирай с цена'}}</button>
                                    <button [style.width]="'auto'" type="button" class="btn btn-success"
                                        (click)="submitEditedEntry()">Запази</button>
                                    <button [style.width]="'auto'" type="button" class="btn btn-danger"
                                        (click)="cancelEditEntry()">Отмени</button>
                            </td>
                        </tr>

                    </ng-container>
                    <ng-template #displayMaterial>
                        <tr>
                            <td scope="row">{{workMaterial.id}}</td>
                            <td scope="row">{{workMaterial.name}}</td>
                            <td scope="row">
                                <select class="form-control form-select" disabled
                                    [(ngModel)]="workMaterial.pricingType">
                                    <option [ngValue]="0">Фиксирано</option>
                                    <option [ngValue]="1">На {{ workMaterial.measuringUnit.length ? workMaterial.measuringUnit : 'количество' }}</option>
                                </select>
                            </td>
                            <td scope="row">{{workMaterial.measuringUnit}}</td>
                            <ng-container *ngIf="workMaterial.relevantPrice; else emptyPrice">
                                <td scope="row">{{workMaterial.relevantPrice.purchasingPrice | currency:'BGN':'лв.'}}
                                </td>
                                <td scope="row">{{workMaterial.relevantPrice.sellingPrice | currency:'BGN':'лв.'}}</td>
                                <td scope="row">{{workMaterial.relevantPrice.lastUpdatedOn | date: 'dd/MM/yyyy HH:mm'}}
                                </td>
                            </ng-container>
                            <ng-template #emptyPrice>
                                <td scope="row" colspan="3">Няма въведена цена</td>
                            </ng-template>
                            <td scope="row">
                                <button type="button" (click)="toggleEditWorkMaterial(workMaterial)"
                                    class="btn btn-primary">Редактиране</button>
                            </td>
                        </tr>
                    </ng-template>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-container>