<ng-container *ngIf="userPage">
    <div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-1 col-form-label">Търсене</label>
            <div class="col-sm-4">
              <input [(ngModel)]="searchPhrase" type="text" class="form-control">
            </div>
            <label for="staticEmail" class="col-sm-1 col-form-label">Роля</label>
            <div class="col-sm-4">
                <select class="form-select" [(ngModel)]="searchRole" aria-label="Default select example">
                    <option value="None">Без права</option>
                    <option value="All">Всички потребители</option>
                    <option value="Seller">Seller</option>
                    <option value="Admin">Admin</option>
                  </select>
            </div>
            <button type="button" class="btn btn-primary col-sm-2" (click)="applySearch()">Търсене</button>
        </div>
    </div>
    <app-pagination [pagesCount] = "userPage.pagesCount" [currentPage] = "userPage.currentPage" (pageChanged) = "switchPage($event)"></app-pagination>
    <div class="text-center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Потребител</th>
                    <th scope="col">Име</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имейл</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Права</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let user of userPage.items">
                <tr>
                    <td scope="row">{{user.userName}}</td>
                    <td scope="row">{{user.firstName}}</td>
                    <td scope="row">{{user.lastName}}</td>
                    <td scope="row">{{user.email}}</td>
                    <td scope="row">{{user.phoneNumber}}</td>
                    <td scope="row"><button type="button" (click)="toggleUserBeingEdited(user.id)" class="btn btn-primary">Редактиране на права</button></td>
                    <div *ngIf="userBeingEditedId === user.id">
                        <app-user-rights [userId]="user.id"></app-user-rights>
                    </div>
                </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <app-pagination [pagesCount] = "userPage.pagesCount" [currentPage] = "userPage.currentPage" (pageChanged) = "switchPage($event)"></app-pagination>
</ng-container>