<ng-container *ngIf="customersPage">
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-1 col-form-label">Търсене</label>
        <div class="col-sm-4">
          <input [(ngModel)]="searchPhrase" type="text" class="form-control">
        </div>
        <button type="button" class="btn btn-primary col-sm-2" (click)="applySearch()"><app-icon iconName="search"></app-icon> Търсене</button>
    </div>
    <div class="container">
        <button type="button" class="btn btn-primary col-sm-2" (click)="toggleNewCustomerMenu()">Нов клиент</button>
    </div>
    <div *ngIf="showNewCustomerMenu && newCustomer" class="container form-group row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Име</th>
                    <th scope="col">Имейл</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input [(ngModel)]="newCustomer.name" name="name" type="text" class="form-control">
                    </td>
                    <td>
                        <input [(ngModel)]="newCustomer.email" name="email" type="text" class="form-control">
                    </td>
                    <td>
                        <input [(ngModel)]="newCustomer.phoneNumber" name="phoneNumber" type="text" class="form-control">
                    </td>
                    <td>
                        <button  type="button" class="btn btn-success" (click)="submitNewEntry()">Запази</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-pagination [pagesCount] = "customersPage.pagesCount" [currentPage] = "customersPage.currentPage" (pageChanged) = "switchPage($event)"></app-pagination>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Име</th>
                <th scope="col">Имейл</th>
                <th scope="col">Телефон</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let customer of customersPage.items">
                <ng-container *ngIf="customer.id === customerBeingEditedId && customerBeingEdited; else displayCustomer">
                    <tr>
                        <td>{{customerBeingEdited.id}}</td>
                        <td>
                            <input [(ngModel)]="customerBeingEdited.name" type="text" class="form-control">
                        </td>
                        <td>
                            <input [(ngModel)]="customerBeingEdited.email" type="text" class="form-control">
                        </td>
                        <td>
                            <input [(ngModel)]="customerBeingEdited.phoneNumber" type="text" class="form-control">
                        </td>
                        <td scope="row">
                            <button [style.width]="'auto'" type="button" class="btn btn-success"
                                (click)="submitEditedEntry()">Запази</button>
                            <button [style.width]="'auto'" type="button" class="btn btn-danger"
                                (click)="cancelEditEntry()">Отмени</button>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #displayCustomer>
                    <tr>
                        <td scope="row">{{customer.id}}</td>
                        <td scope="row">{{customer.name}}</td>
                        <td scope="row">{{customer.email}}</td>
                        <td scope="row">{{customer.phoneNumber}}</td>
                        <td scope="row"><button type="button" class="btn btn-primary" (click)="toggleEditCustomer(customer)">Редактиране</button>
                            <a class="btn btn-primary" routerLink="/orders-view" [queryParams]="{customerId: customer.id}" role="button">Поръчки</a></td>
                    </tr>
                </ng-template>
            
            </ng-container>
        </tbody>
    </table>
    
    <app-pagination [pagesCount] = "customersPage.pagesCount" [currentPage] = "customersPage.currentPage" (pageChanged) = "switchPage($event)"></app-pagination>

</ng-container>
