<div *ngIf="editOrder">
    <h1 *ngIf="!editOrder.linkedOrderId">Редакция на поръчка</h1>
    <h1 *ngIf="editOrder.linkedOrderId">
        Създаване на рекламация за поръчка № <a routerLink="/orders/details" [queryParams]="{ orderId: editOrder.linkedOrderId }"> {{ editOrder.linkedOrderId }}</a>
    </h1>
    <div class="row">
        <div class="form-row col-sm-12">
            <div class="col-sm-6">
                <div class="row">
                    
                    <div class="col-sm-12">
                        <div class="form-group">
                            <app-modal-frame [title]="'Дата на получаване'" [buttonText]="'Дата на получаване'" [callbacks]="finishingDateCallback">
                                <app-calendar-view [isPicker]="true" (dateChanged)="finishingDateTemp=$event"></app-calendar-view>
                            </app-modal-frame>
                            <input [ngModel]="editOrder.finishingDate && dateService.dateOnlyToString(editOrder.finishingDate)" type="text" readonly class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <app-modal-frame [title]="'Клиент'" [buttonText]="'Клиент'" [callbacks]="customerCallback">
                        <app-customer-picker (customerChanged)="customerTemp=$event"></app-customer-picker>
                    </app-modal-frame>
                    <input [ngModel]="customerString(editOrder.customer)" type="text" readonly class="form-control">
                </div>

                <div>
                    <app-modal-frame [title]="'Скица'" [buttonText]="'Скица'" [callbacks]="canvasCallback">
                        <app-drawing-canvas #drawingCanvas [initialBackground]="initialBackground" ></app-drawing-canvas>
                    </app-modal-frame>
                    <div>
                        <img *ngIf="base64PngContent && base64PngContent.length" [src]="base64PngContent" alt="Скица" width="300px" height="300px">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Телефон</label>
                    <input [value]="editOrder.customer.phoneNumber" type="text" readonly class="form-control">
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="description">Капаро(лв.)</label>
                            <input [(ngModel)]="editOrder.deposit" (ngModelChange)="triggerOrderTotalRecalculation()" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="description"><strong>Цена(лв.)</strong></label>
                            <input [(ngModel)]="editOrder.totalPrice" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="form-group small-margin col-sm-12">
                        <label for="description">Описание</label>
                        <textarea class="form-control" id="description" [(ngModel)]="editOrder.description"
                            rows="3"></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Материали</label>
                        <input [value]="workMaterialsString()" type="text" readonly class="form-control">
                        <button class="btn btn-success mb-1" (click)="addNewCraftingComponent()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                                Добави
                            </button>
    
                            <div>
                                <div *ngFor="let craftingComponent of getCraftingComponents()">
                                    <div class="form-row">
                                        <div class="col-8 form-group">
                                            <app-modal-frame [title]="'Материал'" [buttonText]="'Материал'" [callbacks]="craftingComponent.workMaterialCallback">
                                                <app-work-material-picker (workMaterialChanged)="craftingComponent.workMaterialTemp=$event"></app-work-material-picker>
                                            </app-modal-frame>
                                            <button class="btn btn-sm col-sm-6 btn-danger" (click)="craftingComponent.onRemove()">Премахни ред</button>
                                            <input [ngModel]="craftingComponent.craftingComponent.workMaterial?.name" readonly type="text" class="form-control">
                                        </div>
                                        <div class="col-4 form-group">
                                            <label for="description">Количество{{craftingComponent.craftingComponent.workMaterial ? '(' + craftingComponent.craftingComponent.workMaterial.measuringUnit + ')' : ''}}</label>
                                            <input [(ngModel)]="craftingComponent.craftingComponent.quantity" 
                                            (ngModelChange)="triggerComponentRecalculation(craftingComponent.craftingComponent)" 
                                            type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    </div>

                    <div class="col-sm-12">
                        <label><strong>Капаро материали</strong></label>
                        <input [value]="getDepositComponentsString()" type="text" readonly class="form-control">
                        <button class="btn btn-success mb-1" (click)="addNewCraftingComponent(true)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                                Добави
                            </button>
                            <div>
                                <div *ngFor="let craftingComponent of getCraftingComponents(true)">
                                    <div class="form-row">
                                        <div class="col-8 form-group">
                                            <app-modal-frame [title]="'Материал'" [buttonText]="'Материал'" [callbacks]="craftingComponent.workMaterialCallback">
                                                <app-work-material-picker (workMaterialChanged)="craftingComponent.workMaterialTemp=$event"></app-work-material-picker>
                                            </app-modal-frame>
                                            <button class="btn btn-sm col-sm-6 btn-danger" (click)="craftingComponent.onRemove()">Премахни ред</button>
                                            <input [ngModel]="craftingComponent.craftingComponent.workMaterial?.name" readonly type="text" class="form-control">
                                        </div>
                                        <div class="col-4 form-group">
                                            <label for="description">Количество{{craftingComponent.craftingComponent.workMaterial ? '(' + craftingComponent.craftingComponent.workMaterial.measuringUnit + ')' : ''}}</label>
                                            <input [(ngModel)]="craftingComponent.craftingComponent.quantity" 
                                            (ngModelChange)="triggerComponentRecalculation(craftingComponent.craftingComponent)" 
                                            type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                
                <div class="form-group">
                    <div class="form-row">
                        <label>Метод на плащане</label>
                        <select class="form-control form-select" [(ngModel)]="editOrder.paymentMethod">
                            <option [ngValue]="1">В брой</option>
                            <option [ngValue]="2">С Карта</option>
                          </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <button class="btn btn-success" (click)="confirmEditOrder()">Редактирай поръчка</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>