html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.small-margin-top {
    margin-top: 5px;
}

.modal-fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}