<header class="spa-header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">BobyDesignWeb</a>
            <a class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </a>
            <div class="spa-navbar navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="nav nav-tabs">
                    <!-- //TODO: Make a user service that checks user rights  -->
                    <ng-container *ngIf="(userRolesPromise | async) as userRoles">
                        <li *ngIf="userRoles.includes('Admin')" class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-expanded="false">Администрация</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/administration/users"
                                        routerLinkActive="active">Потребители</a></li>
                                <li><a class="dropdown-item" routerLink="/administration/work-materials-report"
                                        routerLinkActive="active">Справка материали</a></li>
                                <li><a class="dropdown-item" href="/Identity/Account/Register"
                                        >Регистрирай нов служител</a></li>
                            </ul>
                        </li>
                        <li *ngIf="userRoles.includes('Admin') || userRoles.includes('Seller')"
                            class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-expanded="false">Панел на продавача</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/work-materials"
                                        routerLinkActive="active">Работни Материали</a></li>
                                <li><a class="dropdown-item" routerLink="/customers"
                                        routerLinkActive="active">Клиенти</a></li>
                                <li><a class="dropdown-item" routerLink="/orders-view"
                                        routerLinkActive="active">Поръчки</a></li>
                                        <li *ngIf="(jewelryShopsDataPromise | async) as jewelryShopsData" class="dropdown-item">
                                            <label>Магазин</label>
                                            <select class="form-control form-select" [(ngModel)]="selectedJewelryShopId"
                                                (change)="changeJewelryShop()">
                                                <option [ngValue]="undefined">Няма избран магазин</option>
            
                                                <ng-container *ngFor="let jewleryShop of jewelryShopsData.all">
                                                    <option [ngValue]="jewleryShop.id">{{jewleryShop.name}}</option>
                                                </ng-container>
                                            </select>
                                        </li>
            
                                        <li *ngIf="(suppliersDataPromise | async) as suppliersData" class="dropdown-item">
                                            <label>Доставчик</label>
                                            <select class="form-control form-select" [(ngModel)]="selectedSupplierId">
                                                <ng-container *ngFor="let supplier of suppliersData.all">
                                                    <option [ngValue]="supplier.id">{{supplier.name}}</option>
                                                </ng-container>
                                            </select>
                                        </li>
                            </ul>
                        </li>
                    </ng-container>
                </ul>

                <div #loginPartial>

                </div>
            </div>
        </div>
    </nav>
</header>