<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" (click)="openModal()">{{buttonText}}</button>

<!-- Modal -->
<div #modalElement class="modal fade" role="dialog" [style.display]="opened ? 'block': 'none'" [style.opacity]="opened ? '1': '0'" (click)="clickClose()">
  <div class="modal-dialog modal-fullscreen" [style.transform]="'none'" (click)="$event.stopPropagation()">

    <!-- Modal content-->
    <div class="modal-content app-modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body app-modal-body">
        
            <ng-content></ng-content>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="clickOk()" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-default" (click)="clickClose()" data-dismiss="modal">Отмени</button>
      </div>
    </div>

  </div>
</div>