<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BobyDesignWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BobyDesignWeb.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>    
    <div class="built-in-main">
        <header class="built-in-header">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BobyDesignWeb</a>
                    <a class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </a>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="nav nav-tabs">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Администрация</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#/administration/users">Потребители</a></li>
                                        </ul>
                                    </li>
                                }
                                if(User.IsInRole("Admin") || User.IsInRole("Seller"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Панел на продавача</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#/work-materials">Работни Материали</a></li>
                                            <li><a class="dropdown-item" href="#/customers">Клиенти</a></li>
                                            <li><a class="dropdown-item" href="#/orders-view" routerLinkActive="active">Поръчки</a></li>
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        @*<main role="main" class="pb-3">*@
            @RenderBody()
        @*</main>*@
    </div>

    <footer class="border-top footer text-muted hide-on-print">
        <div class="container">
            &copy; 2023 - BobyDesignWeb
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
